<!-- Begin MailChimp Signup Form -->
<div id="signup">
    <form action="https://plugaru.us17.list-manage.com/subscribe/post?u=9719fa91cbe350c2db1343407&id=5ec11c7fd2"
          method="post">
        <div for="mce-EMAIL"><strong>Get updates on my new posts:</strong></div>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <input type="submit" value="Subscribe" name="subscribe" class="button">
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_9719fa91cbe350c2db1343407_5ec11c7fd2" tabindex="-1" value="">
        </div>
        or get <a href="/atom.xml">RSS feed</a>.
    </form>
</div>
<!--End mc_embed_signup-->