<header id="header">
    <h1 id="header-title">
        <a href="<%- url_for() %>" id="logo"><%= config.title %></a>
    </h1>
    <% if (theme.subtitle){ %>
    <h2 id="header-subtitle"><%- theme.subtitle %></h2>
    <% } %>

</header>