html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a, a:visited {
    color: #4242f1;
}

body > #container {
    margin: 0 auto;
    max-width: 720px;
}

header #header-title {
    margin-bottom: 0;
}

header #header-title a {
    color: #000;
    text-decoration: none;
}

/* Article stuff */

article {
    text-rendering: optimizeLegibility;
}

article.article-type-post {
    margin-bottom: 80px;
}

article header {
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 31px;
}

article header h1 {
    margin-bottom: 5px;
}

article .article-meta time {
    font-style: italic;
    font-weight: bold;
}

article .article-entry {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
}

article .article-tag-list {
    margin-top: 5px;
    padding-left: 0;
}

article .article-tag-list-item {
    display: inline-block;
    padding-right: 5px;

}

article blockquote {
    border-left: 3px solid #bfbfbf;
    padding-left: 14px;
    margin-left: 14px;
}

article blockquote cite {
    margin-left: 5px;
}

article .book:after {
    content: "";
    display: table;
    clear: both;
}

article .book figure {
    display: table;
    float: left;
    width: 30%;
    margin-left: 0;
    margin-top: 0;
}

article .book figure figcaption {
    display: table-caption;
    caption-side: bottom;
    font-size: 0.8em;
    font-style: italic;
}

#article-nav-older {
    float: right;
}

/* Code */

pre {
    color: #222;
    overflow: auto;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
    background-color: #f5f5f5;
    display: block;
    padding: 9px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
}

pre code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

p code {
    background-color: #f1f1f1;
    padding: 3px;
    color: #222;
    font-size: 16px;
}

/* Archive */

section .archive-year-wrap {
    font-size: 24px;
}

section .archives {
    padding-left: 20px;
}

section .archives time {
    font-size: 21px;
    width: 90px;
    display: inline-block;
}

section .archives h1 {
    font-size: 21px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Article/Archive nav */

nav#page-nav {
    font-size: 19px;
    padding-bottom: 10px;
}

nav#page-nav .page-number {
    padding-left: 5px;
    padding-right: 5px;
}

nav#article-nav {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Footer */
footer#footer {
    width: 100%;
    border-top: 1px solid #7e7e7e;
    margin-top: 12px;
    padding-top: 12px;
}

footer .main-nav a {

}

#search-form-wrap {
    float: right;
}

@media (max-width: 800px) {
    body > #container {
        margin-left: 5px;
    }

    #search-form-wrap {
        float: none;
    }

    #article-nav-older {
        float: none;
    }
}
